eslint-configs/**

# Generated License Files
licenses.json

# Jest mocks
jest/__mocks__

package.json
**/package.json

# Native Artifacts
android/**/*.json
android/**/*.js
ios/**/*.json

# Sample Data
utils/bgg_dataset.json

node_modules/**
